.card {
  margin: 20px 10px 20px 0px;
  min-width: 400px;
}
.card-primary {
  padding: 1rem;
}
.card-title {
  font-family: "Roboto", sans-serif;
}
.remove {
  color: #f15025;
}
.done {
  color: #7cb518;
}
.complete {
  text-decoration: line-through;
}
.incomplete {
  text-decoration: none;
}
