/* You can add global styles to this file, and also import other style files */
$mdc-theme-primary: #2962ff; // primary color
$mdc-theme-secondary: #191919; // secondary color

@import "~@angular-mdc/theme/material";

body {
  margin: 0;
  padding: 0;
}
